[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = {{ .git_user }}
	email = {{ .email }}
{{ if eq .type "personnal" }}
	signingkey = {{ .gpg_pub_key_id }}

[commit]
	gpgsign = true
[tag]
	gpgSign = true
{{ end }}

[alias]
	di = diff
	st = status
	co = checkout
	br = branch
